.card-header {
    padding: 2rem 8rem;
}

.card-footer {
    border-radius: 5px;
}

body {
    background-color: #efefef;
}

.search-form-home-page {
padding: 0rem 8rem !important;
}

.register-login-button-container {
    padding: 1rem 6rem;
    background-color: #efefef;
}