{% extends 'layout.html' %}

{% block body %}



    <div class="jumbotron text-center">
    <h1> CS50 Book Reviewer </h1>
    <p>A website to check and give your oppinion about a book. Let's dig in! </p>

    {#If session is logged in Show buttons to Register and Login.#}
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}

    {% if session.logged_in == True %}

    <form action="/search" method="GET">
        <div class="form-group">
            <input type="text" class="form-control" name="book" placeholder="Title, ISBN, Author, Year..">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
  {% endif %}
  </div>


{% endblock %}